@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    scroll-behavior: smooth;
    background-color: #F0F0EB;
    width: 100%;
    height: auto;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #4D4D3D;;
}

